---
// NOTE: To be used as a child within the FlipCardWidget component.
type Props = {
	spanTwoCol?: boolean
	spanTwoRow?: boolean
}
const { spanTwoCol = false, spanTwoRow = false } = Astro.props

if (!Astro.slots.has('front'))
	console.error(
		'🛑 ERROR: A FlipCardItem is missing <Fragment slot="front"> 🛑'
	)
if (!Astro.slots.has('back'))
	console.error('🛑 ERROR: A FlipCardItem is missing <Fragment slot="back"> 🛑')
---

<script>
	const cards = document.querySelectorAll<HTMLDivElement>('.flipCard')

	const flipTheCard = (e: MouseEvent) => {
		const flipCard = e.currentTarget! as HTMLElement
		const cardFront = flipCard.querySelector<HTMLSpanElement>('.cardFront')
		const cardBack = flipCard.querySelector<HTMLSpanElement>('.cardBack')
		const cardInstructions =
			flipCard.querySelector<HTMLSpanElement>('.instructions')

		flipCard.classList.toggle('cardFlipped')
		const isFlipped = flipCard.classList.contains('cardFlipped')

		cardFront?.classList.toggle('isHidden', isFlipped)
		cardBack?.classList.toggle('isHidden', !isFlipped)
		cardInstructions!.style.opacity = '0'
		setTimeout(() => {
			cardInstructions!.style.opacity = '1'
		}, 330)

		cardInstructions!.innerHTML = cardInstructions!.innerHTML.replace(
			/(back|front)/g,
			(match) => {
				return match === 'back' ? 'front' : 'back'
			}
		)
	}

	cards.forEach((card) => {
		card.addEventListener('click', flipTheCard)
	})
</script>

<button
	class:list={[
		'flipCard',
		{ spanTwoCol: spanTwoCol },
		{ spanTwoRow: spanTwoRow },
	]}
	type='button'
>
	<div class='cardFront'>
		<span class='visuallyHidden'>Card Front:&nbsp;</span>
		<slot name='front' />
	</div>
	<div class='cardBack isHidden'>
		<span class='visuallyHidden'>Card Back:&nbsp;</span>
		<slot name='back' />
	</div>
	<div class='instructions'>
		<div class='visuallyHidden'>&hellip;</div>Flip to back?
	</div>
</button>

<style lang='scss'>
	@use '../../../styles/mixins/buttons.scss';
	@use '../../../styles/mixins/shadows.scss';
	@use '../../../styles/mixins/containerStyles.scss';
	.flipCard {
		@include buttons.secondary();
		@include shadows.smallBoxShadow();
		text-align: left;
		position: relative;
		border-radius: var(--s-10);
		padding: var(--s0) var(--s-2) var(--s3);
		min-width: 100%;
		min-height: 100%;

		&:hover {
			> .instructions {
				bottom: 3.5px;
				right: 5px;
			}
		}

		&.spanTwoCol {
			grid-column: span 2;
		}
		&.spanTwoRow {
			grid-row: span 2;
		}

		&:not(.cardFlipped) {
			:global(*) {
				color: var(--white);
			}
			> div {
				backface-visibility: hidden;
			}
			&:hover,
			&:focus {
				:global(*) {
					color: var(--blue);
				}
			}
		}
		&.cardFlipped {
			transform: rotateY(180deg);
			background-color: var(--offWhite);
			> div {
				transform: rotateY(-180deg);
				&:not(.instructions) {
					color: var(--blue-5);
				}
				&.instructions {
					border-width: 1px 1px 0 0;
					border-radius: 0 var(--s-10) 0 0;
				}
			}
		}

		> div {
			line-height: 1.6;
			-webkit-animation: cardFlipOpacity 0.75s ease-in-out alternate;
			animation: cardFlipOpacity 0.75s ease-in-out alternate;

			&.cardFront:not(.isHidden),
			&.cardBack:not(.isHidden) {
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				align-items: center;
				min-height: 100%;

				> :global(hr) {
					width: 100%;
					height: 1px;
					background-color: var(--black);
					border: 0;
				}
				> :global(picture) {
					max-width: 80%;
					margin: var(--s2) auto;
				}
			}

			&.instructions {
				-webkit-transition: bottom var(--timeShort) ease-in-out,
					right var(--timeShort) ease-in-out;
				transition: bottom var(--timeShort) ease-in-out,
					right var(--timeShort) ease-in-out;
				position: absolute;
				bottom: 0;
				right: 0;
				font-size: var(--s-1);
				font-style: italic;
				background-color: var(--white);
				color: var(--blue);
				border-width: 1px 0 0 1px;
				border-color: var(--darkGray);
				border-style: solid;
				border-radius: var(--s-10) 0 0 0;
				padding: var(--s-10);
			}
		}
	}

	@keyframes cardFlipOpacity {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
</style>
