---
// NOTE: To work, this requires using the FlipCardItem component as children (for the <slot/>) of this component.
type Props = {
	isFullWidth?: boolean
}
const { isFullWidth = false } = Astro.props
---

<div class:list={['flipCards', { fullWidth: isFullWidth }]}>
	<slot />
</div>

<style>
	.flipCards {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(22ch, 1fr));
		grid-gap: var(--s4);
		justify-items: center;
		align-items: stretch;
	}
</style>
