---
import ActivitySwitchesVue from './ActivitySwitchesVue.vue'
type Props = {
	title: string
}
const { title } = Astro.props
---

<div class='titleCard'>
	<h1
		id='titleHeading'
		tabindex='-1'>
		{title}
	</h1>
	<ActivitySwitchesVue client:load />
</div>

<style lang='scss'>
	@use '../../styles/mixins/shadows.scss';
	.titleCard {
		grid-area: card-start/landing-top/card-indicator/landing-bottom;
		justify-self: center;
		align-self: start;
		display: flex;
		align-items: center;
		flex-flow: column nowrap;
		justify-content: space-between;
		border-radius: var(--s5);
		background-color: var(--transparentWhite);
		@include shadows.dropShadowWhite();
		padding: var(--s0);
		margin-top: var(--s2);
		z-index: 1;

		> h1 {
			margin: 0;
			text-align: center;
		}
	}
	/* media queries */
	@media only screen and (max-width: 950px) {
		.titleCard {
			> h1 {
				line-height: 1.1;
			}
		}
	}
	@media only screen and (max-height: 950px) and (max-width: 950px) {
		.titleCard {
			padding: var(--s-10);
			margin-top: 0;
			width: 100%;
		}
	}
</style>
