---
type Props = {
	src: string
}
const { src } = Astro.props
---

<a class='extLink' href={src} target='_blank' rel='noreferrer'
	><slot /><img
		src='/catalog/extLink.svg'
		role='img'
		alt='opens in a new window'
	/>
</a>

<style lang='scss'>
	.extLink > img {
		margin-left: var(--s-10);
		height: var(--s-2);
		width: var(--s-2);
	}
</style>
