---
type PropsWithURLShown =
	| {
			isShownURL?: false | undefined
			urlTitle?: undefined
	  }
	| {
			isShownURL?: true
			urlTitle: string
	  }

type Props = PropsWithURLShown & {
	url: string
}
const { url } = Astro.props
---

<a class='extLink' href={url} target='_blank' rel='noreferrer'>
	<slot /><img src='/extLink.svg' role='img' alt='opens in a new window' />
</a>

<style lang='scss'>
	.extLink > img {
		margin-left: var(--s-10);
		height: var(--s-2);
		width: var(--s-2);
	}
</style>
