---
import TheLesson from '../../layouts/TheLesson.astro'
import StaticContent from '../../layouts/StaticContent.astro'
import FeatureInteractive from '../../layouts/FeatureInteractive.vue'
---

<TheLesson
	title='Introduction to Astronomy'
	scene='setting'
	gradientColor='var(--green)'
>
	<FeatureInteractive
		client:load
		featureType='reflection'
		title='What do you think?'
		prompt='When you hear the term Astronomy, what do you think about?'
	>
		<p>Things to consider:</p>
		<ul>
			<li>
				<p>&lbrace;Learning Outcome 1&rbrace;</p>
			</li>
			<li>
				<p>&lbrace;Learning Outcome 2&rbrace;</p>
			</li>
			<li>
				<p>&lbrace;Learning Outcome 3&rbrace;</p>
			</li>
		</ul>
	</FeatureInteractive>
	<FeatureInteractive
		client:load
		featureType='practice'
		title='Practice Feature'
		prompt='This is a practice feature test.'
	/>
	<FeatureInteractive
		client:load
		featureType='choice'
		title='Choice Feature'
		prompt='This is a choice feature test.'
	/>
	<StaticContent title='Welcome to the Course'>
		<p>In this course, we will&hellip;</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<section>
			<h3>Another Heading</h3>
			<p>
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
				fuga error repudiandae. Libero voluptatem impedit amet incidunt
				blanditiis ducimus consequatur quos, vitae beatae hic eligendi, rerum
				quisquam, dolor deleniti?
			</p>
			<p>
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
				fuga error repudiandae. Libero voluptatem impedit amet incidunt
				blanditiis ducimus consequatur quos, vitae beatae hic eligendi, rerum
				quisquam, dolor deleniti?
			</p>
			<section>
				<h4>A Third <sub>Sub</sub>Heading</h4>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur
					earum fuga error repudiandae. Libero voluptatem impedit amet incidunt
					blanditiis ducimus consequatur quos, vitae beatae hic eligendi, rerum
					quisquam, dolor deleniti?
				</p>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur
					earum fuga error repudiandae. Libero voluptatem impedit amet incidunt
					blanditiis ducimus consequatur quos, vitae beatae hic eligendi, rerum
					quisquam, dolor deleniti?
				</p>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur
					earum fuga error repudiandae. Libero voluptatem impedit amet incidunt
					blanditiis ducimus consequatur quos, vitae beatae hic eligendi, rerum
					quisquam, dolor deleniti?
				</p>
				<p>
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur
					earum fuga error repudiandae. Libero voluptatem impedit amet incidunt
					blanditiis ducimus consequatur quos, vitae beatae hic eligendi, rerum
					quisquam, dolor deleniti?
				</p>
			</section>
		</section>
	</StaticContent>
	<FeatureInteractive
		client:load
		featureType='reflection'
		title='And Now What Do You Think?'
		prompt='You’ve learned new information. What do you think about now when you hear the term Astronomy?'
	/>
	<StaticContent title='The middle'>
		<p>
			Spaceflight will never tolerate carelessness, incapacity, and neglect.
			Somewhere, somehow, we screwed up. It could have been in design, build, or
			test. Whatever it was, we should have caught it. We were too gung ho about
			the schedule and we locked out all of the problems we saw each day in our
			work.
		</p>
		<p>
			“Every element of the program was in trouble and so were we. The
			simulators were not working, Mission Control was behind in virtually every
			area, and the flight and test procedures changed daily. Nothing we did had
			any shelf life. Not one of us stood up and said, ‘Dammit, stop!’ I don’t
			know what Thompson’s committee will find as the cause, but I know what I
			find. We are the cause! We were not ready! We did not do our job. We were
			rolling the dice, hoping that things would come together by launch day,
			when in our hearts we knew it would take a miracle. We were pushing the
			schedule and betting that the Cape would slip before we did.
		</p>
		<p>
			“From this day forward, Flight Control will be known by two words: ‘Tough’
			and ‘Competent.’ Tough means we are forever accountable for what we do or
			what we fail to do. We will never again compromise our responsibilities.
			Every time we walk into Mission Control we will know what we stand for.
			Competent means we will never take anything for granted. We will never be
			found short in our knowledge and in our skills. Mission Control will be
			perfect.
		</p>
		<p>
			<a href='#section2'>Lorem, ipsum dolor sit amet</a> consectetur adipisicing
			elit. Pariatur earum fuga error repudiandae. Libero voluptatem impedit amet
			incidunt blanditiis ducimus consequatur quos, vitae beatae hic eligendi, rerum
			quisquam, dolor deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
	</StaticContent>
	<StaticContent title='Let’s make an extra long title to see what happens'>
		<p>Follow up... Let&rsquo;s make an extra long title to see what happens</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
	</StaticContent>
	<FeatureInteractive
		client:load
		featureType='reflection'
		title='One Last Time'
		prompt='What’s changed in your thinking about Astronomy? Write it here.'
	/>
	<FeatureInteractive
		client:load
		featureType='reflection'
		title="How You've Grown…"
		prompt='Read how your thinking has progressed as you’ve learned more about Astronomy.'
		isFinaleReveal
	/>
</TheLesson>
