---
import TheLesson from '../../layouts/TheLesson.astro'
import StaticContent from '../../layouts/StaticContent.astro'
---

<TheLesson
	title='Introduction to Astronomy'
	scene='setting'
	gradientColor={'var(--green)'}
	isChoiceOn={true}
	isPracticeOn={true}
	isReflectionOn={true}
>
	<StaticContent heading='Welcome to the Course' columnSet='50'>
		<p>In this course, we will&hellip;</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
	</StaticContent>
	<StaticContent heading='Next, We will…' columnSet='50'>
		<p>Follow up...</p>
	</StaticContent>
</TheLesson>
