.visuallyHidden {
  position: absolute;
  clip-path: inset(100%);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap;
}
.isHidden {
  display: none;
}
