#theLessonContent article.section {
  min-height: 90vh;
  padding: 0 var(--s-4);
  display: grid;
  grid-template-columns:
    auto [content-start] minmax(auto, 10ch) [innerContent-start] minmax(auto, 60ch)
    [innerContent-end] minmax(auto, 10ch) [content-end] auto;
  align-content: start;

  &.isLocked {
    display: none;
  }
  &:not(.firstSection) {
    border-top: 2px solid var(--darkGray);
  }
  &.staticContent {
    padding-bottom: var(--s2);

    > img {
      width: 100%;
      margin: var(--s2) 0;
    }
  }
  &.activity {
    padding-bottom: var(--s-2);
    grid-template-rows:
      repeat(3, minmax(auto, max-content))
      [completeBtnBtn-start] 1fr [completeBtn-end];

    > div[class*="activityCompleteBtns"] {
      grid-row: completeBtn-start/completeBtn-end;
      align-self: end;
    }
  }

  > div {
    margin: var(--s2) 0;
  }

  > *:not(.fullWidth) {
    grid-column: innerContent-start / innerContent-end;
  }
  > *.fullWidth {
    grid-column: content-start / content-end;
  }
  @media only screen and (max-width: 85ch) {
    > *:not(.fullWidth) {
      grid-column: content-start / content-end;
    }
    > * {
      flex-flow: column nowrap;
    }
  }
}
