// colors for callBox colors
.blue, .red, .green, .yellow, .white {
    margin: var(--s4) auto var(--s0);
    position: relative;
    z-index: 0;
  
    &::before, &::after {
      content:'';
      position: absolute;
      border-radius: inherit;
      border-width: 2px;
    }
    &::before {
      top: var(--s-8);
      bottom: var(--s-8);
      left: var(--s-8);
      right: var(--s-8);
      background-color:  var(--white);
      z-index: 0;
      border-style: outset;
    }
    &::after {
      top: calc(-1 * var(--s-6));
      bottom: calc(-1 * var(--s-6));
      left: calc(-1 * var(--s-6));
      right: calc(-1 * var(--s-6));
      z-index: -1;
      border-style: inset;
    }
  }
  
  .blue {
    &::before {
      border-color: var(--blue-2);
      box-shadow: 2px 2px 0 var(--blue-2);
    }
    &::after {
      background-color: var(--blue-1);
      border-color: var(--blue-2);
    }
  }
  .yellow {
    &::before {
      border-color: var(--yellow-2);
      box-shadow: 2px 2px 0 var(--yellow-2);
    }
    &::after {
      background-color: var(--yellow-1);
      border-color: var(--yellow-2);
    }
  }
  .green {
    &::before {
      border-color: var(--green-2);
      box-shadow: 2px 2px 0 var(--green-2);
    }
    &::after {
      background-color: var(--green-1);
      border-color: var(--green-2);
    }
  }
  .red {
    &::before {
      border-color:var(--red-2);
      box-shadow: 2px 2px 0 var(--red-2);
    }
    &::after {
      background-color: var(--red-1);
      border-color:var(--red-2);
    }
  }
  .white {
    &::before {
      border-color:var(--darkGray);
      box-shadow: 2px 2px 0 var(--darkGray);
    }
    &::after {
      background-color: var(--lightGray);
      border-color:var(--darkGray);
    }
  }