@use "../styles/mixins/containerStyles.scss";
@use "../styles/mixins/transitions.scss";
@use "../styles/mixins/shadows.scss";
.cardGrid {
  padding-left: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12ch, 1fr));
  grid-gap: var(--s3);
  justify-content: start;
  align-items: center;

  > li {
    @include containerStyles.darkBorder();
    @include transitions.flourishShort();
    @include shadows.blueDropShadow();
    max-width: 20ch;
    margin: 0;
    border-radius: var(--s0);
    overflow: hidden;
    background: linear-gradient(
      225deg,
      hsl(201deg 100% 18%) 0%,
      hsl(199deg 100% 20%) 8%,
      hsl(197deg 100% 23%) 17%,
      hsl(195deg 100% 25%) 25%,
      hsl(194deg 76% 34%) 33%,
      hsl(193deg 64% 42%) 42%,
      hsl(191deg 56% 51%) 50%,
      hsl(186deg 69% 45%) 58%,
      hsl(182deg 88% 38%) 67%,
      hsl(178deg 100% 34%) 75%,
      hsl(167deg 100% 36%) 83%,
      hsl(139deg 53% 48%) 92%,
      hsl(87deg 70% 43%) 100%
    );

    &:hover {
      filter: none;
      > .linkCard {
        @include shadows.hoverBoxShadow();
        > span {
          background-color: var(--peach);
        }
      }
    }

    > .linkCard {
      @include containerStyles.flexCenter();
      @include transitions.short();
      border-radius: var(--s0);
      font-size: var(--s1);
      flex-flow: column nowrap;
      aspect-ratio: 1/1;
      &:visited {
        color: var(--black);
      }
      > span {
        min-width: 75%;
        font-weight: 700;
        text-align: center;
        padding: var(--s-5) var(--s-10);
        border-radius: var(--s-10);
        background-color: var(--offWhite);
      }
    }
  }
}
