@use "sass:map";

$colors: (
  "green": hsl(168deg, 61%, 46%),
  "yellow": hsl(48deg, 100%, 49%),
  "red": hsl(348deg, 61%, 47%),
  "blue": hsl(201deg, 100%, 28%),
);
$percntDiff: 10%;

@debug lightness(map.get($colors, "yellow"));
@debug lightness(scale-color(map.get($colors, "yellow"), $lightness: - 50%));
@debug lightness(scale-color(map.get($colors, "yellow"), $lightness: - ($percntDiff * 5)));

:root {
  --black: hsl(195deg, 4%, 18%);
  --darkGray: hsl(200deg, 2%, 35%);
  --lightGray: hsl(0deg, 0%, 84%);
  --offWhite: hsl(0deg, 0%, 98%);
  --white: hsl(0deg, 0%, 100%);
  --lightBlue: hsl(201deg, 100%, 97%);
  --purple: hsl(330deg, 50%, 40%);

  @each $key, $val in $colors {
    --#{$key}-5: #{scale-color($val, $lightness: - $percntDiff * 5)};
    --#{$key}-4: #{scale-color($val, $lightness: - $percntDiff * 4)};
    --#{$key}-3: #{scale-color($val, $lightness: - $percntDiff * 3)};
    --#{$key}-2: #{scale-color($val, $lightness: - $percntDiff * 2)};
    --#{$key}-1: #{scale-color($val, $lightness: - $percntDiff * 1)};
    --#{$key}: #{$val};
    --#{$key}1: #{scale-color($val, $lightness: $percntDiff * 1)};
    --#{$key}2: #{scale-color($val, $lightness: $percntDiff * 2)};
    --#{$key}3: #{scale-color($val, $lightness: $percntDiff * 3)};
    --#{$key}4: #{scale-color($val, $lightness: $percntDiff * 4)};
    --#{$key}5: #{scale-color($val, $lightness: $percntDiff * 5)};
  }
}
