// TODO: find all reuseable style patterns and flesh this out.

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin darkBorder {
  border: 1px solid var(--darkGray);
}
@mixin alert {
  background-color: var(--yellow5);
  border: 1px solid var(--darkGray);
  border-radius: var(--s10) var(--s0) var(--s10) var(--s0) / var(--s10) var(--s0) var(--s10) var(--s0);
}

// drop shadow for buttons/switches
@mixin blueDropShadow {
  filter: drop-shadow(0px 3px 0 var(--blue));
}

// box-shadow for hoving elements
@mixin hoverBoxShadow {
  -webkit-box-shadow: inset var(--s-8) 0 0 var(--blue), inset var(--s-10) var(--s-10) 0 var(--blue),
    inset calc(-1 * var(--s-10)) calc(-1 * var(--s-10)) 0 var(--blue),
    inset var(--s-10) calc(-1 * var(--s-10)) 0 var(--blue), inset calc(-1 * var(--s-10)) var(--s-10) 0 var(--blue),
    inset calc(-1 * var(--s-8)) 0 0 var(--blue);
  box-shadow: inset var(--s-8) 0 0 var(--blue), inset var(--s-10) var(--s-10) 0 var(--blue),
    inset calc(-1 * var(--s-10)) calc(-1 * var(--s-10)) 0 var(--blue),
    inset var(--s-10) calc(-1 * var(--s-10)) 0 var(--blue), inset calc(-1 * var(--s-10)) var(--s-10) 0 var(--blue),
    inset calc(-1 * var(--s-8)) 0 0 var(--blue);
}

// transition for buttons
@mixin btnTransition {
  -webkit-transition: var(--timeLong) box-shadow var(--transitionFlourish),
    var(--timeLong) background-color var(--transitionFlourish), var(--timeLong) color var(--transitionFlourish),
    var(--timeLong) filter var(--transitionFlourish);
  transition: var(--timeLong) box-shadow var(--transitionFlourish),
    var(--timeLong) background-color var(--transitionFlourish), var(--timeLong) color var(--transitionFlourish),
    var(--timeLong) filter var(--transitionFlourish);
}

// VUE TRANSITIONS
// opacity-named transition
@mixin opacityTransition {
  .opacity-enter-from,
  .opacity-leave-to {
    opacity: 0;
  }
  .opacity-enter-active,
  .opacity-leave-active {
    transition: opacity var(--timeShort) ease-in-out;
  }
  .opacity-enter-to,
  .opacity-leave-from {
    opacity: 1;
  }
}

// flourish-named transition
@mixin flourishTransition {
  .flourish-enter-from,
  .flourish-leave-to {
    opacity: 0;
  }
  .flourish-enter-active,
  .flourish-leave-active {
    transition: opacity var(--timeShort) ease-in-out;
  }
  .flourish-enter-to,
  .flourish-leave-from {
    animation: focusPulse 0.33s var(--transitionFlourish) forwards;
    opacity: 1;
  }
}
