@use "sizing.scss";
@use "typography.scss";
@use "colors.scss";
@use "transition.scss";
@use "accessibility.scss";

* {
  font-size: var(--s0);
  box-sizing: border-box;

  &:focus {
    animation: focusPulse var(--timeShort) var(--transitionFlourish) forwards;
  }
  &:visited {
    color: var(--purple);
  }
}

html {
  font-size: var(--s0);
  font-family: var(--fonts);
  background-color: var(--white);
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: var(--s7);
  color: var(--black);
}

body {
  margin: 0;
}
