@use "colors.scss";
@use "sizing.scss";
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
:focus {
  padding: 10px;
  outline: 1px solid var(--purple);
}

html {
  font-family: "Atkinson Hyperlegible", sans-serif;
  background-color: var(--white);
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: var(--s7);
  color: var(--black);
  font-size: var(--s0);
}
body {
  margin: 0;
}
h1 {
  font-size: var(--s5);
  margin-bottom: var(--s3);
  font-weight: 800;
}
h2 {
  font-size: var(--s4);
  margin-bottom: var(--s3);
  font-weight: 800;
}
p {
  color: var(--black);
  line-height: 1.5;
}
a:visited {
  color: var(--purple);
}

a:hover,
a:focus {
  outline: 1.5px solid var(--blue);
  padding: 0 var(--s-10);
  font-weight: 700;
}
