@use './mixins//a11y.scss';
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--darkGray);
    background-color: var(--white);

    &:not(.tableAttributed) {
        margin: var(--s2) 0 var(--s4);
    }
    &.tableAttributed {
        margin: var(--s2) 0 var(--s-4) 0;

        + p {
            font-style: italic;
            margin-bottom: var(--s4);
        }
    }
    > caption {
        font-size: var(--s1);
        margin-bottom: var(--s-2);
        color: var(--black);
        font-weight: 700;
    }
    tr {
        padding: var(--s-2) 0;
    }
    th, td {
        padding: var(--s0);
        border: 1px solid var(--darkGray);
    }
    tr:nth-child(2n + 2) {
        background-color: var(--offWhite);
    }
    th {
        color: var(--black);
        font-weight: 500;

        &[scope='row'] {
            text-align: left;
            background-color: var(--yellow5);
        }
        &[scope='col'] {
            text-align: center;
            background-color: var(--yellow4);
        }
    }
    tfoot {
        border-top: var(--s-10) solid var(--darkGray);
        th[scope="row"] {
            font-weight: 700;
            background-color: var(--yellow4);
        }
    }
}
@media only screen and (max-width: 45em) {
    table.bigTable {
        border: none;
        thead {
            @include a11y.visuallyHidden();
            + tbody > tr td, 
            ~ tfoot > tr td {
                text-align: left;
                &::before {
                    content: attr(data-header-name) ': ';
                    display: inline;
                    font-weight: 700;
                }
            }
        }
        tbody,
        tbody + tfoot {
            > tr {
                display: flex;
                flex-flow: column nowrap;
                border: none;
                &:nth-child(2n + 2) {
                    background-color: var(--white);
                }
                > th {
                    text-align: center;
                }
                > td {
                    text-align: center;
                    border-width: 0 1px 0 1px;
                    &:last-child {
                        border-bottom-width: 1px;
                    }
                }
            }   
        }
        tfoot {
            border-top: none;
        }
    }
}