@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

:root {
  --fonts: "Atkinson Hyperlegible", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}
h1 {
  font-size: var(--s5);
  margin-top: 0;
  margin-bottom: var(--s3);
}
h2 {
  font-size: var(--s4);
  margin-top: var(--s6);
  margin-bottom: var(--s2);
}
@media only screen and (max-width: 950px) {
  h2 {
    margin-top: var(--s3);
  }
}
h3 {
  font-size: var(--s3);
  margin-top: var(--s5);
  margin-bottom: var(--s1);
}
h4 {
  font-size: var(--s2);
  margin-top: var(--s4);
  margin-bottom: var(--s0);
}
h5 {
  font-size: var(--s1);
  margin-top: var(--s3);
  margin-bottom: var(--s-1);
}

p {
  color: var(--black);
  line-height: 1.6;
  margin: 0;

  & + p {
    margin-top: var(--s2);
  }
}

a {
  border: 1px solid transparent;
  border-radius: var(--s-10);
  padding: 0 var(--s-10);

  &:hover,
  &:focus {
    border: 1px solid var(--blue);
    background-color: var(--peach);
    text-underline-offset: var(--s-9);
    text-decoration-skip-ink: none;
    text-decoration-thickness: var(--s-10);
  }
}

ul,
ol {
  margin-top: var(--s-4);

  li + li {
    margin-top: var(--s-4);
  }
}
