---
type Props = {
	src: string
	title: string
}
const { src, title } = Astro.props
---

<a class='extLink' href={src} target='_blank' rel='noreferrer'>
	{title}
	<span class='visuallyHidden'>opens in a new window</span>
	<img src='../extLink.svg' alt='' aria-hidden='true' />
</a>

<style lang='scss'>
	.extLink {
		display: inline-flex;
		flex-flow: row nowrap;
		gap: 0 var(--s-8);
		align-items: baseline;

		> img {
			height: var(--s-2);
			width: var(--s-2);
		}
	}
</style>
