---
type Props = {
	setColor: 'white' | 'green' | 'yellow' | 'red' | 'blue'
	isCentered?: boolean
}
const { isCentered, setColor } = Astro.props
---

<div class:list={['callOutBox', { centered: isCentered }, setColor]}>
	<slot />
</div>

<style lang='scss'>
	.callOutBox {
		display: flex;
		justify-content: center;
		flex-flow: column nowrap;
		border-radius: var(--s-4);
		padding: max(var(--s1), 1ch) !important;
		min-height: 10vh;

		@supports (min-height: 1svh) {
			min-height: 12svh;
		}
		> :global(*, astro-island *) {
			z-index: 1;
		}

		&.centered > :global(*) {
			text-align: center;
		}
	}
</style>
