---
import TheLesson from '../../layouts/TheLesson.astro'
import ExternalLink from '../../components/staticContentLayouts/ExternalLink.astro'
import SideBySide from '../../components/staticContentLayouts/SideBySide.astro'
import TextOverlayImage from '../../components/staticContentLayouts/TextOverlayImage.astro'
import StaticContent from '../../layouts/StaticContent.astro'
---

<TheLesson
	title='Early Renaissance'
	scene='setting'
	gradientColor={'var(--yellow-5)'}
>
	<StaticContent title='Welcome to the Course'>
		<p>
			Art history is a fascinating subject that delves into the rich and diverse
			world of artistic expression throughout human history. From the earliest
			cave paintings to the most cutting-edge contemporary art, art history
			provides a lens through which we can explore the cultural, social, and
			political contexts that have shaped the art of different eras and regions.
		</p>
		<!-- <TextOverlayImage imgName='cafeterrace.jpg'>
			<p>
				Through the study of art history, we can learn about the different
				styles, techniques, and movements that have emerged over time, as well
				as the key figures who have shaped the course of art history. We can
				explore the ways in which art has been used to communicate ideas, tell
				stories, and challenge conventions, and we can appreciate the beauty and
				complexity of artworks from around the world.
			</p>
		</TextOverlayImage> -->
		<p>
			Through the study of art history, we can learn about the different styles,
			techniques, and movements that have emerged over time, as well as the key
			figures who have shaped the course of art history. We can explore the ways
			in which art has been used to communicate ideas, tell stories, and
			challenge conventions, and we can appreciate the beauty and complexity of
			artworks from around the world.
		</p>
		<p>
			Whether you are an art lover, a student of history, or simply curious
			about the world around you, art history is a fascinating and rewarding
			subject to explore. So why not dive in and discover the incredible world
			of art history for yourself?
		</p>
		<SideBySide
			altText='Café Terrace at Night by Vincent Van Gogh'
			imgName='cafeterrace.jpg'
			needTextDescription
		>
			<p>
				One of the most exciting aspects of art history is the way in which it
				allows us to trace the evolution of artistic expression over time. By
				studying different periods and styles, <ExternalLink
					src='https://www.metmuseum.org/'
					title='we can see how artists have'
				/>

				responded to the social, political, and cultural context of their times,
				and how their work has both reflected and shaped these contexts. We can
				also see how artists have been influenced by one another, and how their
				ideas and techniques have been passed down from generation to
				generation.
			</p>
			<p>
				At the same time, art history also allows us to appreciate the unique
				qualities of individual artworks, and to understand the meanings and
				messages they convey. Whether we are looking at a painting, a sculpture,
				or a piece of architecture, we can explore the ways in which the artist
				has used form, color, composition, and other elements to create a
				powerful and evocative work of art. We can also consider the symbolism
				and cultural significance of these elements, and how they relate to the
				broader themes and ideas of the work.
			</p>
			<p>
				Finally, studying art history can also deepen our understanding of the
				world around us, and of ourselves as human beings. By exploring the
				diverse range of artistic traditions that have emerged throughout
				history, we can gain insights into the ways in which different cultures
				have sought to express their values, beliefs, and aspirations. We can
				also consider the role that art has played in shaping our own lives and
				identities, and in shaping the world we live in today.
			</p>
		</SideBySide>
		<SideBySide
			align={'alignRight'}
			altText='Café Terrace at Night by Vincent Van Gogh'
			imgName='cafeterrace.jpg'
		>
			<p>
				One of the most exciting aspects of art history is the way in which it
				allows us to trace the evolution of artistic expression over time. By
				studying different periods and styles, <ExternalLink
					src='https://www.metmuseum.org/'
					title='we can see how artists have'
				/>
				responded to the social, political, and cultural context of their times,
				and how their work has both reflected and shaped these contexts. We can also
				see how artists have been influenced by one another, and how their ideas
				and techniques have been passed down from generation to generation.
			</p>
			<p>
				At the same time, art history also allows us to appreciate the unique
				qualities of individual artworks, and to understand the meanings and
				messages they convey. Whether we are looking at a painting, a sculpture,
				or a piece of architecture, we can explore the ways in which the artist
				has used form, color, composition, and other elements to create a
				powerful and evocative work of art. We can also consider the symbolism
				and cultural significance of these elements, and how they relate to the
				broader themes and ideas of the work.
			</p>
			<p>
				Finally, studying art history can also deepen our understanding of the
				world around us, and of ourselves as human beings. By exploring the
				diverse range of artistic traditions that have emerged throughout
				history, we can gain insights into the ways in which different cultures
				have sought to express their values, beliefs, and aspirations. We can
				also consider the role that art has played in shaping our own lives and
				identities, and in shaping the world we live in today.
			</p>
		</SideBySide>
	</StaticContent>
	<StaticContent title='The Second Section'>
		<p>In this course, we will&hellip;</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
	</StaticContent>
	<StaticContent title='The Third Section'>
		<p>In this course, we will&hellip;</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
	</StaticContent>
</TheLesson>
