---
import StickyImage from '../../components/contentLayouts/StickyImage.astro'
import StaticContent from '../../layouts/StaticContent.astro'
import TheLesson from '../../layouts/TheLesson.astro'
---

<TheLesson
	title='Early Renaissance'
	scene='setting'
	gradientColor={'var(--yellow-5)'}
>
	<StaticContent title='Welcome to the Course'>
		<StickyImage
			text={[
				'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor deleniti?',
				'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor deleniti?',
				'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor deleniti?',
				'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor deleniti?',
				'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor deleniti?',
				'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor deleniti?',
				'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor deleniti?',
				'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor deleniti?',
			]}
			altText='Astronaut'
			imageSrc='cel-website/construction.svg'
		/>
	</StaticContent>
	<StaticContent title='The Second Section'>
		<p>In this course, we will&hellip;</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
	</StaticContent>
	<StaticContent title='The Third Section'>
		<p>In this course, we will&hellip;</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur earum
			fuga error repudiandae. Libero voluptatem impedit amet incidunt blanditiis
			ducimus consequatur quos, vitae beatae hic eligendi, rerum quisquam, dolor
			deleniti?
		</p>
	</StaticContent>
</TheLesson>
