---
// TODO: Create a box call-out box for content. Will basically be a div with a containerStyles mixin for styling. Similiar in style to an alert or alertWarning, but more cheerful color usage and less exaggerated corners.
---

<div></div>

<style lang='scss'></style>
