---
import LibLayout from '../layouts/LibLayout.astro'
import LibraryTopics from '../scripts/LibraryTopics.js'

export async function getStaticPaths() {
	const allLessons = await Astro.glob('../pages/*/*.astro')

	const topicURLs = allLessons.map((lesson) => lesson.url!.split('/').at(1))

	return topicURLs.map((topic) => {
		const filteredLessons = allLessons.filter((lesson) =>
			lesson.url?.includes(topic!)
		)
		const topicTitle = LibraryTopics.get(topic!)

		return {
			params: { topic },
			props: { filteredLessons, topicTitle },
		}
	})
}

const { topic } = Astro.params
const { filteredLessons, topicTitle } = Astro.props
---

<LibLayout title={topicTitle!}>
	<!-- TODO: Get Topic Name something, prob a map like how I did it for the Lib page (index.astro) -->
	<nav>
		<a href='/'>Back to Programs</a>
	</nav>
	<p>Hello</p>
	<p>
		Here are all of the {topicTitle.toLowerCase()} interactive lessons&hellip;
	</p>
	<ul>
		{
			filteredLessons.map((fL: { url: string }) => (
				<li>
					<p>
						<a href={fL.url}>
							{fL.url.split('/').at(-1)!.replaceAll('-', ' ')}
						</a>
					</p>
				</li>
			))
		}
	</ul>
</LibLayout>
