---
import '../styles/libraryPages.scss'
import LibLayout from '../layouts/LibLayout.astro'
import TopicsLibrary from '../scripts/topicsLibrary.js'

export async function getStaticPaths() {
	const allLessons = await Astro.glob('../pages/*/*.astro')

	const topicURLs = allLessons.map((lesson) => lesson.url!.split('/').at(1))

	return topicURLs.map((topic) => {
		const filteredLessons = allLessons.filter((lesson) =>
			lesson.url?.includes(topic!)
		)
		// TODO: Ask team which way would be better. Maintain a seperate map or have a longer url with full topic name for folder?
		// const topicTitle = topic!.charAt(0).toUpperCase() + topic?.slice(1)
		const topicTitle = TopicsLibrary.get(topic!)

		return {
			params: { topic },
			props: { filteredLessons, topicTitle },
		}
	})
}

const { topic } = Astro.params
const { filteredLessons, topicTitle } = Astro.props
---

<LibLayout title={topicTitle!}>
	<nav>
		<a href='/'>Back to Programs</a>
	</nav>
	<p>Hello</p>
	<p>
		Here are all of the {topicTitle.toLowerCase()} interactive lessons&hellip;
	</p>
	<ul class='cardGrid'>
		{
			filteredLessons.map((fL: { url: string }) => (
				<li>
					<a class='linkCard' href={fL.url}>
						{fL.url.split('/').at(-1)!.replaceAll('-', ' ')}
					</a>
				</li>
			))
		}
	</ul>
</LibLayout>
