---
import '../styles/libraryPages.scss'
import LibLayout from '../layouts/LibLayout.astro'

export async function getStaticPaths() {
	const allLessons = await Astro.glob('./*/*.astro')

	const topicURLs = allLessons.map((lesson) => lesson.url!.split('/').at(2))

	return topicURLs.map((topic) => {
		const filteredLessons = allLessons.filter((lesson) =>
			lesson.url?.includes(topic!)
		)

		const topicTitle = topic!
			.split('-')
			.map((word) => word.charAt(0).toUpperCase() + word.slice(1))
			.join(' ')

		return {
			params: { topic },
			props: { filteredLessons, topicTitle },
		}
	})
}

const { filteredLessons, topicTitle } = Astro.props
---

<LibLayout title={`${topicTitle!} Interactive Lessons`}>
	<nav>
		<a href='/catalog/'>Back to all topics</a>
	</nav>
	<p>Hello</p>
	<p>
		Here are all of the {topicTitle.toLowerCase()} interactive lessons&hellip;
	</p>
	<ul class='cardGrid'>
		{
			filteredLessons.map((fL: { url: string }) => (
				<li>
					<a class='linkCard' href={fL.url}>
						{fL.url
							.split('/')
							.at(-1)!
							.split('-')
							.map((word) => word.charAt(0).toUpperCase() + word.slice(1))
							.join(' ')}
					</a>
				</li>
			))
		}
	</ul>
</LibLayout>
