---
import '../styles/libraryPages.scss'
import LibLayout from '../layouts/LibLayout.astro'

const allLessons = await Astro.glob('./*/*.astro')

const topicURLs = [
	...new Set(allLessons.map((lesson) => lesson.url!.split('/').at(2))),
]

const topicTitles = topicURLs.map((title) => {
	return title
		?.split('-')
		.map((word) => {
			return word.charAt(0).toUpperCase() + word.slice(1)
		})
		.join(' ')
})
---

<LibLayout title='FSCJ’s Interactive Lessons Catalog'>
	<p>Select a topic to view all lessons on it.</p>
	<ul class='cardGrid'>
		{
			topicTitles.map((title, i) => (
				<li>
					<a class='linkCard' href={`/catalog/${topicURLs[i]}`}>
						<span>{title}</span>
					</a>
				</li>
			))
		}
	</ul>
</LibLayout>
