---
import '../styles/libraryPages.scss'
import LibLayout from '../layouts/LibLayout.astro'
import TopicsLibrary from '../scripts/topicsLibrary.js'

const allLessons = await Astro.glob('../pages/*/*.astro')

const topicURLs = [
	...new Set(allLessons.map((lesson) => lesson.url!.split('/').at(1))),
]

const topicTitles = topicURLs.map((t) => TopicsLibrary.get(t!))
---

<LibLayout title='All Topics'>
	<ul class='cardGrid'>
		{
			topicTitles.map((title, i) => (
				<li>
					<a class='linkCard' href={`/${topicURLs[i]}`}>
						{title}
					</a>
				</li>
			))
		}
	</ul>
</LibLayout>
