---
import '../styles/libraryPages.scss'
import LibLayout from '../layouts/LibLayout.astro'

const allLessons = await Astro.glob('../pages/*/*.astro')

const topicURLs = [
	...new Set(allLessons.map((lesson) => lesson.url!.split('/').at(1))),
]

const topicTitles = topicURLs.map((title) => {
	return title
		?.split('-')
		.map((word) => {
			return word.charAt(0).toUpperCase() + word.slice(1)
		})
		.join(' ')
})
---

<LibLayout title='FSCJ’s Interactive Lessons Catalog'>
	<h2>All Topics</h2>
	<ul class='cardGrid'>
		{
			topicTitles.map((title, i) => (
				<li>
					<a class='linkCard' href={`/${topicURLs[i]}`}>
						{title}
					</a>
				</li>
			))
		}
	</ul>
</LibLayout>
