---
import BaseLayout from '../layouts/BaseLayout.astro'
import StaticContent from '../layouts/StaticContent.astro'
---

<BaseLayout
	title='Introduction to Astronomy'
	scene='setting'
	color='var(--green)'
>
	<StaticContent heading='Welcome to the Course'>
		<p>In this course, we will&hellip;</p>
	</StaticContent>
	<StaticContent heading='Next, We will…'>
		<p>Follow up...</p>
	</StaticContent>
</BaseLayout>
