---
export interface Props {
	heading: string
	columnSet?: '6040' | '4060' | '50' | '7525' | '2575' | '30' | '25'
}

const { heading, columnSet } = Astro.props
---

<section class='staticContent'>
	<div class:list={['content', { columnSet: columnSet }]}>
		<h2>{heading}</h2>
		<slot />
	</div>
</section>

<style>
	.staticContent > div {
		font-size: var(--s0);
		margin: 0 auto;
		max-width: 60ch;
		width: 100%;
	}
	.staticContent > div :global(p) {
		max-width: 60ch;
	}
</style>
