---
interface Props {
	title: string
	columnSet?: '6040' | '4060' | '50' | '7525' | '2575' | '30' | '25'
}

const { title, columnSet } = Astro.props
---

<section class='section staticContent'>
	<div class:list={['content', { columnSet: columnSet }]}>
		<h2>{title}</h2>
		<slot />
	</div>
</section>

<style lang='scss'>
	.staticContent > div {
		font-size: var(--s0);
		margin: 0 auto;
		max-width: 60ch;
		width: 100%;
	}
	.staticContent > div :global(p) {
		max-width: 60ch;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
</style>
