---
import '../styles/root.scss'
import '../styles/specifiedLayouts/catalogLayout.scss'
import SkipToContent from '../components/navigation/SkipToContent.astro'

type Props = {
	title: string
	isTopicsPage?: boolean
}

const { title, isTopicsPage = false } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1, user-scalable=YES'
		/>
		<link rel='icon' href='/catalog/favicon.png' sizes='any' />
		<link rel='icon' type='image/svg+xml' href='/catalog/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title} &vert; FSCJ</title>
	</head>
	<body>
		<div>
			<SkipToContent />
			{
				isTopicsPage && (
					<header>
						<nav>
							<a href='/catalog/'>Back to all topics</a>
						</nav>
					</header>
				)
			}
			<main>
				<h1 id='titleHeading' tabindex='-1'>{title}</h1>
				<slot />
			</main>
		</div>
		<footer>
			<a href='https://www.fscj.edu'
				><img
					role='img'
					src='/catalog/fscj-horizontal-logo.svg'
					alt='Florida State College at Jacksonville'
				/></a
			>
		</footer>
	</body>
</html>

<style lang='scss'>
	@use '../styles/mixins/buttons.scss';
	@use '../styles/mixins/shadows.scss';

	body {
		padding: 0 var(--s-4);
		> div {
			max-width: 80ch;
			margin: var(--s2) auto var(--s-10);
			padding: var(--s2);
			background-color: var(--offWhite);
			border: 2px dashed var(--darkGray);
			border-radius: var(--s2);
		}
	}

	main {
		> :global(p) {
			margin-bottom: var(--s2);
		}
	}
	nav {
		padding: var(--s0) 0 var(--s2);
		margin-bottom: var(--s2);
		border-bottom: 1px dashed var(--darkGray);

		> a {
			@include buttons.primary();
			@include shadows.blueDropShadow();
			text-decoration: none;
			max-width: max-content;
			border-radius: var(--s10);
			color: var(--black);
			&:visited:not(:hover) {
				color: var(--black);
			}
		}
	}
	footer {
		max-width: 80ch;
		margin: 0 auto;

		> a {
			float: right;
			padding-top: var(--s-2);
			width: 20ch;
			display: block;
		}
	}
</style>
