@use "./containerStyles.scss";
@use "./transitions.scss";
@use "./shadows.scss";

@mixin buttonHoverFocus {
  &:hover,
  &:focus {
    background-color: var(--peach);
    color: var(--blue);
    transform: translateY(2px);
    filter: none;
  }

  &:hover {
    @include shadows.hoverBoxShadow();
  }

  &:focus {
    z-index: 10;
  }
}

@mixin primary {
  @include containerStyles.flexCenter();
  @include containerStyles.darkBorder();
  @include transitions.flourishLong();
  @include buttonHoverFocus();
  color: var(--black);
  background-color: var(--lightBlue);
  padding: var(--s-4) var(--s-2);
}

@mixin secondary {
  @include containerStyles.lightBorder();
  @include transitions.flourishLong();
  @include buttonHoverFocus();
  color: var(--white);
  background-color: var(--blue);
  padding: var(--s-4) var(--s-2);
}
@mixin toolTip {
  @include transitions.short();
  background-color: var(--yellow5);
  border: 1px solid var(--darkGray);
  filter: drop-shadow(0px 3px 0 var(--yellow-5));
  padding: max(var(--s-3), .9ch);
  margin-bottom: max(var(--s-8), .4ch);
  display: inline-block;
  border-radius: var(--s-8);
  vertical-align: middle;
  aspect-ratio: 1/1;
  background-image: url('../../assets/icon-info.svg');
  background-position: center center;
  background-size: 55% 55%;
  background-repeat: no-repeat;

  &:hover, &:focus {
    filter: none;
    transform: translateY(2px);
  }
}


@mixin warning {
  background-color: var(--red);
  color: var(--white);
  &:hover {
    color: var(--red-3);
    background-color: var(--peach);
    @include shadows.hoverBoxShadowWarning();
  }
}
