@use "./containerStyles.scss";
@use "./transitions.scss";
@use "./shadows.scss";

@mixin primary {
  @include containerStyles.flexCenter();
  @include containerStyles.darkBorder();
  @include transitions.button();
  color: var(--black);
  cursor: pointer;
  padding: var(--s-4) var(--s-2);
  border-radius: var(--s10);
  background-color: var(--lightBlue);

  &:hover,
  &:focus {
    background-color: var(--peach);
    filter: none;
  }

  &:hover {
    color: var(--blue);
    @include shadows.hoverBoxShadow();
  }

  &:focus {
    z-index: 10;
  }
}
@mixin warning {
  background-color: var(--red);
  color: var(--white);
  &:hover {
    color: var(--red-3);
    background-color: var(--peach);
    @include shadows.hoverBoxShadowWarning();
  }
}
