@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin darkBorder {
  border: 1px solid var(--darkGray);
}
@mixin lightBorder {
  border: 1px solid var(--lightGray);
}

@mixin alert {
  background-color: var(--yellow5);
  border: 1px solid var(--darkGray);
  border-radius: var(--s10) var(--s0) var(--s10) var(--s0) / var(--s10) var(--s0) var(--s10) var(--s0);
  box-shadow: var(--s-6) var(--s-6) var(--s10) var(--yellow-5),
    calc(-1 * var(--s-6)) calc(-1 * var(--s-6)) var(--s10) var(--yellow-5);
}
