// transition for buttons
@mixin short {
  -webkit-transition: all var(--timeShort) ease-in-out;
  transition: all var(--timeShort) ease-in-out;
}
@mixin flourish {
  -webkit-transition: all var(--timeShort) var(--transitionFlourish);
  transition: all var(--timeShort) var(--transitionFlourish);
}

@mixin button {
  -webkit-transition: var(--timeLong) box-shadow var(--transitionFlourish),
    var(--timeLong) background-color var(--transitionFlourish), var(--timeLong) color var(--transitionFlourish),
    var(--timeLong) filter var(--transitionFlourish);
  transition: var(--timeLong) box-shadow var(--transitionFlourish),
    var(--timeLong) background-color var(--transitionFlourish), var(--timeLong) color var(--transitionFlourish),
    var(--timeLong) filter var(--transitionFlourish);
}

// NOTE: VUE TRANSITION COMPONENTS
// opacity-named transition
@mixin vueOpacity {
  .opacity-enter-from,
  .opacity-leave-to {
    opacity: 0;
  }
  .opacity-enter-active,
  .opacity-leave-active {
    transition: opacity var(--timeShort) ease-in-out;
  }
  .opacity-enter-to,
  .opacity-leave-from {
    opacity: 1;
  }
}

// flourish-named transition
@mixin vueFlourish {
  .flourish-enter-from,
  .flourish-leave-to {
    opacity: 0;
  }
  .flourish-enter-active,
  .flourish-leave-active {
    transition: opacity var(--timeShort) ease-in-out;
  }
  .flourish-enter-to,
  .flourish-leave-from {
    animation: focusPulse 0.33s var(--transitionFlourish) forwards;
    opacity: 1;
  }
}
