---
type Props = {
	isFullWidth?: boolean
}
const { isFullWidth = false } = Astro.props
---

<div class:list={['flipCards', { fullWidth: isFullWidth }]}>
	<slot />
</div>

<style>
	.flipCards {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(15ch, 1fr));
		grid-gap: var(--s0);
		justify-items: center;
		align-items: stretch;
	}
</style>
