@use "sizing.scss";
@use "colors.scss";
@use "typography.scss";
@use 'tables.scss';
@use "transition.scss";
@use "a11yGlobalClasses.scss";
@use "callOutBoxes.scss";

* {
  font-size: var(--s0);
  box-sizing: border-box;

  &:focus:not(article) {
    animation: focusPulse var(--timeShort) var(--transitionFlourish) forwards;

    &:not(button, a, input, textarea) {
      animation: focusFade 2.5s ease-in-out forwards;
    }
  }
  &:visited {
    color: var(--purple);
  }
}

html {
  font-size: var(--s0);
  font-family: var(--fonts);
  background-color: var(--white);
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: var(--s7);
  color: var(--black);
}

body {
  margin: 0;
}
