---
type PropsWithURLShown =
	| {
			isShownURL?: false | undefined
			urlTitle?: undefined
	  }
	| {
			isShownURL?: true
			urlTitle: string
	  }

type Props = PropsWithURLShown & {
	url: string
}
const { url, isShownURL, urlTitle } = Astro.props
---

{
	isShownURL ? (
		<a
			class='extLink'
			href={url}
			target='_blank'
			rel='noreferrer'
			aria-label={urlTitle}>
			<slot />
			<img
				src='/extLink.svg'
				role='img'
				alt='opens in a new window'
			/>
		</a>
	) : (
		<a
			class='extLink'
			href={url}
			target='_blank'
			rel='noreferrer'>
			<slot />
			<img
				src='/extLink.svg'
				role='img'
				alt='opens in a new window'
			/>
		</a>
	)
}

<style lang='scss'>
	.extLink {
		overflow-wrap: break-word;
		font-size: inherit;
		> img {
			display: inline;
			margin-left: var(--s-10);
			height: var(--s-2);
			width: var(--s-2);
		}
	}
</style>
